@import '~styles/settings/settings';

.baseModal {
  &__layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(3, 13, 23, 0.7);
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    background: $white;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    transform: translate(-50%, -50%);
    overflow: visible;
  }
}
