html,
body {
  height: 100%;
  font-family: 'Avenir Next', 'Azo Sans', serif;
}

#app {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

svg {
  display: block;
}

.contactLink {
  color: $white;
  text-decoration: none;
  font-size: $fs-sm;
  font-weight: bold;
}

.rw-popup-container.rw-calendar-popup {
  width: 22em !important;
}

.formModal__content {
  max-height: 90%;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  z-index: 1001;
}

.plain-link {
  text-transform: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
