@import '~styles/settings/settings';

.welcome {
  height: 100vh;
  display: flex;
  background-color: $white;
  &__leftPanel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__logo {
    position: absolute;
    left: $rem-xl;
    top: $rem-xl;
  }
  &__leftPanelContent {
    max-width: 350px;
  }
  &__title {
    font-family: Avenir !important;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.1px;
    color: $darkest-primary;
  }
  &__btn {
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    text-align: center;
    color: $lightest-gray;
    text-transform: uppercase;
  }
  &__divider {
    font-size: $fs-mx;
    color: $darkest-primary;
    text-transform: uppercase;
    margin-top: $rem-xl;
    margin-bottom: $rem-lg;
    text-align: center;
  }
  &__signInLink {
    text-align: center;
    font-weight: 500;
    color: $darkest-primary;
    a {
      color: $primary;
      font-size: $fs-base;
      text-decoration: none;
    }
  }
  &__rightPanel {
    flex: 1;
    display: flex;
    align-items: center;
    background-image: url('~images/welcome-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__bigTitle {
    font-size: 54px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: $white;
    margin-left: 80px;
    margin-bottom: 0px;
  }
}
